<header id="header" class="header">
    <nav class="header-wrap u-flex u-margin-0-15">
        {{!-- Logo --}}
        <div class="logo u-flex0 u-flexCenter">
            <a class="logo-link" href="{{@site.url}}">
                {{#if @site.logo}}
                    <img class="logo-img" src="{{img_url @site.logo size="m"}}" alt="{{@site.title}}"/>
                {{else}}
                    <span class="logo-txt">{{@site.title}}</span>
                {{/if}}
            </a>
        </div>

        {{!-- navbar --}}
        <div class="navbar u-flex1 u-flexContentCenter">{{navigation}}</div>

        <div class="header-right u-flex u-flex0 u-flexEnd">
            {{!-- Facebook & Twitter - partials/witget/witget-social-media.hbs --}}
            {{> "widget/witget-social-media"}}

            {{!-- Toggle Search --}}
            <div id="search-open" class="search-toggle u-pointer u-hide i-search" style="margin-left:20px;font-size:22px"></div>
            {{!-- Toggle Menu --}}
            <div class="menu-toggle"><span></span><span></span><span></span></div>
        </div>
    </nav>
</header>
