<article class="relative flex items-center justify-center flex-col min-h-screen text-center bg-dark">
    {{#if feature_image}}
    <a href="{{url}}">
        <picture>
            <source
                srcset="{{img_url feature_image size="s" format="avif"}} 300w,
                        {{img_url feature_image size="m" format="avif"}} 600w,
                        {{img_url feature_image size="l" format="avif"}} 1000w,
                        {{img_url feature_image size="xl" format="avif"}} 2000w"
                sizes="(min-width: 1400px) 1400px, 92vw"
                type="image/avif"
            >
            <source
                srcset="{{img_url feature_image size="s" format="webp"}} 300w,
                        {{img_url feature_image size="m" format="webp"}} 600w,
                        {{img_url feature_image size="l" format="webp"}} 1000w,
                        {{img_url feature_image size="xl" format="webp"}} 2000w"
                sizes="(min-width: 1400px) 1400px, 92vw"
                type="image/webp"
            >
            <img
                srcset="{{img_url feature_image size="s"}} 300w,
                        {{img_url feature_image size="m"}} 600w,
                        {{img_url feature_image size="l"}} 1000w,
                        {{img_url feature_image size="xl"}} 2000w"
                sizes="(min-width: 1400px) 1400px, 92vw"
                class="inset-image brightness-50"
                src="{{img_url feature_image size="xl"}}"
                alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
            >
        </picture>
    </a>
    {{/if}}

    <div class="relative z-2 max-w-3xl mx-auto px-4 py-vw6">
        {{#if primary_tag}}{{#primary_tag}}
        <div class="cat-links uppercase mb-4 text-lg tracking-wider font-bold leading-normal">
            <a href="{{url}}" title="{{name}}" class="cat-links-item text-white inline-block border-white border-b-3 border-opacity-25">{{name}}</a>
        </div>
        {{/primary_tag}}{{/if}}

        <h2 class="story-title text-white mb-4 leading-tight text-5xl md:text-7xl font-title"><a href="{{url}}">{{title}}</a></h2>

        {{!-- Author Meta partials/components/author-meta.hbs --}}
        {{> "components/author-meta" class="text-xl text-white text-opacity-90" classLink="hover:text-white"}}
    </div>
</article>