<div id="modal-search" class="js-modal modal search flex flex-col flex-wrap items-center fixed inset-0 z-50">
    {{!-- Bg --}}
    <div class="absolute inset-0 bg-modal bg-opacity-60 js-modal-close"></div>

    {{!-- Close --}}
    <div class="button is-circle absolute js-modal-close z-3 lg:hidden" style="top:5px;right:5px">
        <svg class="icon is-stroke"><use xlink:href="#icon-close"></use></svg>
    </div>

    <div class="modal-content relative z-2 max-w-2xl w-full pt-vw6 px-5 pb-5">
        <div class="search-wrap">
            {{!-- search form --}}
            <form class="search-form w-full px-3 border-b-2 border-primary mb-5">
                <input id="search-field" class="w-full is-medium text-white" type="text" placeholder="{{t "Search"}}..." aria-label="Search box"/>
            </form>
            {{!-- show a message to the user if there is no post --}}
            <span class="js-search-message search-message text-sm p-2 text-gray-500 leading-none hidden">{{t "No results found"}}</span>
            {{!-- Search results --}}
            <ul id="search-results" class="search-results mx-auto w-full leading-none overflow-auto text-white"></ul>
        </div>
        {{!-- showing the function keys --}}
        <div class="justify-center text-sm leading-none text-white mt-2 hidden md:flex space-x-4 mt-5">
            <div class=""><span class="p-1 rounded bg-primary inline-block">↑</span> <span class="p-1 rounded bg-primary inline-block">↓</span> {{t "Navigate up/down"}}</div>
            <div><span class="p-1 rounded bg-primary inline-block">Enter</span> {{t "Go to article"}}</div>
            <div><span class="p-1 rounded bg-primary inline-block">Esc</span> {{t "Close search"}}</div>
        </div>
    </div>
</div>