<ul class="social-media js-social-media flex items-center justify-center space-x-5">
    {{#if @site.facebook}}
    <li>
        <a href="{{facebook_url}}" title="Facebook {{@site.facebook}}" aria-label="Facebook {{@site.facebook}}" target="_blank" rel="noopener noreferrer">
            <svg class="icon"><use xlink:href="#icon-facebook"></use></svg>
            <span class="hidden">Facebook</span>
        </a>
    </li>
    {{/if}}

    {{#if @site.twitter}}
    <li>
        <a href="{{twitter_url}}" title="Twitter {{@site.twitter}}" aria-label="Twitter {{@site.twitter}}" target="_blank" rel="noopener noreferrer">
            <svg class="icon"><use xlink:href="#icon-twitter"></use></svg>
            <span class="hidden">Twitter</span>
        </a>
    </li>
    {{/if}}

    {{#if @custom.instagram_url}}
    <li>
        <a href="{{@custom.instagram_url}}" title="Instagram" aria-label="Instagram" target="_blank" rel="noopener noreferrer">
            <svg class="icon"><use xlink:href="#icon-instagram"></use></svg>
            <span class="hidden">Instagram</span>
        </a>
    </li>
    {{/if}}

    {{#if @custom.youtube_url}}
    <li>
        <a href="{{@custom.youtube_url}}" title="YouTube" aria-label="YouTube" target="_blank" rel="noopener noreferrer">
            <svg class="icon"><use xlink:href="#icon-youtube"></use></svg>
            <span class="hidden">YouTube</span>
        </a>
    </li>
    {{/if}}
</ul>