<!DOCTYPE html>
<!--
    Design by:
    ——————————
        GODO FREDO
        ✉ https://godofredo.ninja
        ✎ @GodoFredoNinja
        ✈ Lima - Perú
-->
<html lang="{{@site.locale}}">
<head>
    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Base Meta --}}
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{!-- fonts --}}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{{asset "styles/main.css"}}"/>

    {{#match @custom.title_font "=" "Playfair Display"}}
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <style>:root{--font-title:"Playfair Display"}</style>
    {{/match}}

    {{!-- This tag outputs SEO meta+structured data and other important settings --}}
    {{ghost_head}}

</head>
<body class="{{body_class}}">
    {{!-- Site Header - partials/header.hbs --}}
    {{> "header"}}

    <div class="site-wrapper">
        {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
        {{{body}}}
    </div>

    {{!-- Site Fotoer - partials/footer.hbs--}}
    {{> "footer"}}

    {{!-- Sidenav - partials/sidenav.hbs --}}
    {{> "sidenav"}}

    {{!-- icons --}}
    {{> "icons/icons"}}

    {{!-- Ghost outputs important scripts and data with this tag --}}
    {{ghost_foot}}

    {{!-- Main Scripts --}}
    <script src="{{asset "scripts/main.js"}}"></script>

    {{!-- The #block helper will pull in data from the #contentFor other template files. --}}
    {{{block "scripts"}}}
</body>
</html>