{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{#post}}
<article class="post">
    <header class="post-header u-maxWidth768 u-marginAuto">
        {{!-- Category --}}
        {{#if primary_tag}}{{#primary_tag}}
        <div class="cat-links">
            <a href="{{url}}" title="{{name}}" class="cat-links-item">{{name}}</a>
        </div>
        {{/primary_tag}}{{/if}}

        {{!-- Post Title --}}
        <h1 class="post-title">{{title}}</h1>

        {{!-- meta --}}
        <div class="post-meta u-text-muted">
            <span class="posted-on">
                {{t "Posted on"}}
                <time class="datetime u-textCapitalize" datetime="{{date format="YYYY-MM-DD"}}">{{date format="MMMM D, YYYY"}}</time>
            </span>
            <span class="byline">
                {{#primary_author}}
                {{t "by"}}
                <a href="{{url}}">{{name}}</a>
                {{/primary_author}}
            </span>
        </div>
    </header>

    {{!-- Featured Image --}}
    {{#if feature_image}}
    <figure class="post-image">
        <div class="post-image-inner">
            <img class="post-img u-image u-absolute0"
                srcset="{{img_url feature_image size="s"}} 300w,
                        {{img_url feature_image size="m"}} 600w,
                        {{img_url feature_image size="l"}} 1000w,
                        {{img_url feature_image size="xl"}} 2000w"
                sizes="(max-width: 800px) 400px,
                        (max-width: 1170px) 700px,
                        1400px"
                src="{{img_url feature_image size="xl"}}"
                alt="{{title}}"
            />
        </div>
    </figure>
    {{/if}}

    <div class="post-body u-maxWidth768 u-marginAuto">
        {{content}}
    </div>

    {{!-- Post footer --}}
    <footer class="post-footer u-maxWidth768 u-marginAuto">
        <div class="post-tags-share">
            {{!-- Tags Cloud - Partials/article/article-tags.hbs --}}
            {{> "article/article-tags"}}

            {{!-- Share in Social Media - Partials/article/article-share.hbs --}}
            {{> "article/article-share"}}
        </div>

        {{!-- Author info - Partials/article/article-author.hbs --}}
        {{> "article/article-author"}}
    </footer>
</article>

{{!-- Prev and next post --}}
<div class="prev-next story-feed">
    {{#prev_post}}
        {{> "article/article-prev-next" mytitle="previous post" class="nav-previous"}}
    {{/prev_post}}

    {{#next_post}}
        {{> "article/article-prev-next" mytitle="next post" class="nav-next"}}
    {{/next_post}}
</div>
{{!-- ./end prev next post ---}}

{{> "article/article-comments"}}

{{/post}}

{{#if post.tags}}{{> "article/article-related"}}{{/if}}
