{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{#post}}
<div class="u-margin-0-15">
<article class="post">

    <header class="sss u-relative u-flexContentCenter">
        {{!-- Featured Image --}}
        {{#if feature_image}}
        <img class="post-img u-image u-absolute0"
            srcset="{{img_url feature_image size="s"}} 300w,
                    {{img_url feature_image size="m"}} 600w,
                    {{img_url feature_image size="l"}} 1000w,
                    {{img_url feature_image size="xl"}} 2000w"
            sizes="(max-width: 800px) 400px,
                    (max-width: 1170px) 700px,
                    1400px"
            src="{{img_url feature_image size="xl"}}"
            alt="{{title}}"
        />
        {{/if}}
        {{!-- overlay --}}
        <div class="u-overlay u-absolute0 zindex1"></div>

        <div class="sss-body u-relative zindex2">
            {{!-- date - title - excerpt --}}
            <div class="date u-meta"><time class="datetime" datetime="{{date format=" YYYY-MM-DD "}}">{{date published_at format="MMMM DD, YYYY"}}</time></div>
            <h1 class="sss-title">{{title}}</h1>
            {{#if custom_excerpt}}<p class="sss-excerpt">{{custom_excerpt}}</p>{{/if}}

            {{!-- author - tags - readingTime --}}
            <div class="sss-meta u-meta">
                <span>{{t "By"}}</span>
                {{#primary_author}}<a href="{{url}}" rel="author">{{name}}</a>{{/primary_author}}
                {{#if primary_tag}}{{#primary_tag}}<i class="point i-circle"></i><a href="{{url}}" class="sss-tag">{{name}}</a>{{/primary_tag}}{{/if}}
                <i class="point i-circle"></i>
                <span class="readingTime">{{reading_time seconds=(t "< 1 min read") minute=(t "1 min read") minutes=(t "% min read")}}</span></1>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="post-wrap">
            <div id="post-body" class="post-body">
                {{content}}
            </div>

            {{!-- Post footer --}}
            <footer class="post-footer">
                <div class="u-flex u-flexCenter">
                    {{!-- Tags Cloud - Partials/article/article-tags.hbs --}}
                    {{> "article/article-tags"}}

                    {{!-- Share in Social Media - Partials/article/article-share.hbs --}}
                    {{> "article/article-share"}}
                </div>
                {{!-- Author info - Partials/article/article-author.hbs --}}
                {{> "article/article-author"}}
            </footer>
        </div>
    </div>
</article>

{{!-- Prev and next post --}}
{{!-- <div class="container">
    <div class="row" style="margin-bottom:30px">
        {{#prev_post}}
            {{> "article/article-prev-next" mytitle="previous post"}}
        {{/prev_post}}

        {{#next_post}}
            {{> "article/article-prev-next" mytitle="next post"}}
        {{/next_post}}
    </div>
</div>  --}}
{{!-- ./end prev next post ---}}

{{/post}}

{{> "article/article-related"}}

{{#post}}
{{> "article/article-comments"}}
{{/post}}

</div>

